<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SchoolPrepar{% endblock %}</title>

    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>
<body>
    <!--------------------------------- navbar -------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">SchoolPrepar</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                <a class="nav-link" href="{{ path('app_features') }}">Fonctionnalités</a>
            </div>
        </div>
    </nav>
    <!--------------------------------- navbar -------------------------------------------->

    <main class="container">
        {% block contenu %}{% endblock %}
    </main>

</body>
</html>
